<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section.
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

	<system.webServer>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" />
		<httpCompression>
			<staticTypes>
				<add mimeType="image/svg+xml" enabled="true" />
			</staticTypes>
		</httpCompression>
		<staticContent>
			<remove fileExtension="woff" />
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
			<remove fileExtension="woff2" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>
</configuration>