@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To a new CSAT Feedback repository app, and say goodbye to using spreadsheets as a database.</p>
</div>
